.DS_Store
.buildpath
.cache
.project
.settings
nbproject/
*~
.#*
*.bak
*.orig
*.rej
*.swp
*.kdev4
.kdev4/*

conf.php

/vendor
/composer.lock
/web
/.phpunit.cache
.phpunit.results.cache
.php-cs-fixer.cache
